@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-boxs;
    font-family: "Poppins", serif;
}
:root{
    --white:#fff;
    --black:#000;
    --primary-grey: #424242;
    --secondary-grey: #f5f6f8;
    --primary-pink: #ff4967;
    --secondary-pink: #feced6;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color:var(--black);
}
li{
    list-style: none;
}
h1,h2,h4{
    color: var(--black);
}
h1{
    font-size: 2rem;
    font-family: "Rammetto One", serif;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.3rem;
    color: var(--primary-pink);
}
h4{
    font-size: 1.2rem;
}
p{
    font-size: 1rem;
    color: var(--primary-grey);
    margin: 1rem 0 2rem 0;
    max-width: 80%;
}
.para{
    max-width: 100%;
}
.primary-btn{
    border: .1rem solid var(--primary-pink);
    background: var(--primary-pink);
    font-size: 1rem;
    border-radius: 5rem;
    color: var(--white);
    padding: .6rem 1.5rem;
}
[data-type="inverted-btn"]{
    background: transparent;
    color: var(--primary-pink);
}
[data-type="white-btn"]{
    background: var(--white);
    border: none;
    color: var(--secondary-pink);
}
.primary-btn:hover{
    filter: grayscale(1);
}
.bg-white{
    background: var(--white);
}
.bg-black{
    background: var(--black);
}
.bg-light-pink{
    background: var(--secondary-pink);
}
.bg-pink{
    background: var(--primary-pink);
}
.bg-grey{
    background: var(--secondary-grey);
}
.fill-white{
    color: var(--white);
}
.fill-light-pink{
    color: var(--secondary-pink);
}
.fill-pink{
    color: var(--primary-pink);
}
.section{
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    margin: auto;
    padding: 0 2rem;
}
.row-container, .column-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-container{
    gap: 7rem;
}
.column-container{
    flex-direction: column;
    gap: 3rem;
    text-align: center;
}
.content{
    max-width: 50%;
}
img{
    height: 100%;
    display: inline-block;
}
.fa-solid{
    margin-right: 1rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 13vh;
    margin: auto;
    padding: 0 2rem;
}

.navlist{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.fa-bar{
    font-size: 2rem;
}
.hamburger{
    display: none;
}
.active, .navlist li .navlinks:hover{
    color: var(--primary-pink);
}
.logo{
    font-size: 1.6rem;
    font-weight: bolder;
    color: var(--primary-pink);
    border: .1rem solid var(--primary-pink);
    padding: .3rem;
}
.hero-section{
    height: calc(100vh - 13vh);
    display: flex;
    justify-content: center;
    align-items: center;
}
.actions{
    display: flex;
    gap: 1.5rem;
}
.image-container{
    height: 75vh;
    width: 50rem;
    background: linear-gradient(var(--secondary-pink), transparent);
    border-radius: 50% 50% 0 0;
    position: relative;
}
.image-container img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}
.skill-level{
    background: var(--white);
    width: 100%;
    height: .7rem;
    margin-top: .7rem;
    border-radius: 3rem;
    position: relative;
}
.skill-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 6rem;
    grid-row-gap: 2rem;
}
.info{
    display: flex;
    justify-content: space-between;
}
.skill-bar{
    background: var(--primary-pink);
    position: absolute;
    inset: 0;
    border-radius: 3rem;
}
.html{
    width: 80%;
}
.css{
    width: 75%;
}
.tailwindcss{
    width: 65%;
}
.c{
 width: 80%;
}
.msoffice{
    width: 90%;
}
[data-type='inverted-img']{
    transform: scaleX(-1);
}
.detail{
    margin-bottom: 1.6rem;
}
.interest{
    display: flex;
    gap: 2rem;
    margin-top: 1.2rem;
}
.grid-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap: 2rem;
}
.card{
    background: var(--white);
    padding: 1rem 0 0 2rem;
    text-align: left;
    border-radius: 0 40% 0 0;
}
[data-type='card-icons']{
    font-size: 1.2rem;
    margin-top: 1rem;
    background: var(--primary-pink);
    padding: 1rem;
    border-radius: 1.5rem;
}
.card:hover{
    background: var(--primary-pink);
    cursor: pointer;
}
.card:hover.card p, .card:hover.card h4{
    color: var(--white);
}
.card:hover [data-type="card-icons"]{
    background: var(--white);
    color: var(--primary-pink);
}
.task-card{
    width: 20rem;
    height: 12rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow:hidden;
}
.task-card:nth-child(1){
    background-image: url(assets/banner.png);
}
.task-card:nth-child(2){
    background-image: url(assets/portfolio.png);
}
.task-card:nth-child(3){
    background-image: url(assets/task3.png);
}
.task-card:nth-child(4){
    background-image: url(assets/calculator.png);
}
.task-card:nth-child(5){
    background-image: url(assets/loginpage.png);
}
.task-card:nth-child(6){
    background-image: url(assets/register.png);
}
.task-card:nth-child(7){
    background-image: url(assets/addque.png);
}
.task-card:nth-child(8){
    background-image: url(assets/quiz.png);
}
.task-card:nth-child(9){
    background-image: url();
}
.task-card::before{
    content: "";
    background: var(--black);
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.task-card:hover::before{
    opacity: .7;
}
.demo{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: -20%;
    transition: top .3s ease-in-out;
}
.task-card:hover .demo{
    top: 50%;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 50%;
}
input, textarea{
    width: 100%;
    border: none;
    border-radius: .2rem;
    padding: .9rem 1rem;
    resize: none;
    background: var(--secondary-grey);
    font-size: 1rem;
}
input:focus, textarea:focus{
    outline: .1rem solid var(--primary-pink);
}
.footer-section{
    padding: 1rem 0;
    text-align: center;
}
.social{
    font-size: 1.5rem;
}







/*----Responsive----*/
@media screen and (max-width: 580px){
    body{
        overflow-x: hidden;
    }
    .navlist{
        background: var(--white);
        position: absolute;
        flex-direction: column;
        top: 10%;
        right: 0;
        padding: 2rem 4rem;
        transform: translateX(100%);
        transition: transform .3s ease-in-out;

    }
    .navlist-active{
        transform: translateX(-20%);
    }
    .hamburger{
        display: block;
    }
    .image-container{
        display: none;
    }
    .container, .navbar, .form{
        width: 100%;
    }
    .content, p{
        max-width: 100%;
    }
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.2rem;
    }
    h3{
        font-size: 1.1rem;
    }
    .skill-container, .grid-card-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}
/* Resetting some of the default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

:root {
    --white: #fff;
    --black: #000;
    --primary-grey: #424242;
    --secondary-grey: #f5f6f8;
    --primary-pink: #ff4967;
    --secondary-pink: #feced6;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--black);
}

li {
    list-style: none;
}

h1, h2, h4 {
    color: var(--black);
}

h1 {
    font-size: 2rem;
    font-family: "Rammetto One", serif;
}

/* Add the styles for the hamburger icon */
.hamburger {
    display: none;
    cursor: pointer;
}

/* Add the responsive styles for mobile screens */
@media screen and (max-width: 580px) {
    body {
        overflow-x: hidden;
    }

    .navlist {
        background: var(--white);
        position: absolute;
        flex-direction: column;
        top: 10%;
        right: 0;
        padding: 2rem 4rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .navlist-active {
        transform: translateX(0);
    }

    .hamburger {
        display: block;
    }

    .image-container {
        display: none;
    }

    .container, .navbar, .form {
        width: 100%;
    }
   
    
    .content, p {
        max-width: 100%;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    .skill-container, .grid-card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
